body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
} 
#showcase h1 {
    font-size: 55px;
    margin: 0; 
}

#showcase p {
    font-size: 20px;
    margin: 10px 0 0 0; 
}


.detail{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.address{
    color: #0C243C;
}
.main-container{
    max-width: 1200px;
    margin: auto;
}
.card{
    height: 300px;
}
/* Category */

.Categori_link{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
    
}

a { color: var(--bs-dark); }


.Categori_link:hover{
    transform: scale(1.1);
}

.Categori_img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 290px;
}

.Categori_img--medium{
  height: 170px;
}

.Categori_img img{
    width: 100%;
    object-fit: cover;
}